<mat-tab-group class="demo-tab-group">
  <ng-container *ngFor="let algo of algos">
      <mat-tab [label]="algo.name">
          <mat-form-field class="input">
            <textarea matInput (keyup)='doHash($event, algo)' (change)="doHash($event, algo)"></textarea>
          </mat-form-field>
          <div class="output-container">
            <div class="output">
                {{displayHash(algo)}}
            </div>
            <div class="output-controls">
                <mat-icon matTooltip="Copy">file_copy</mat-icon>
                <mat-icon matTooltip="Switch case" (click)="upperCase = !upperCase">swap_vert</mat-icon>
            </div>            
          </div>
        </mat-tab>        
  </ng-container>
</mat-tab-group>

